/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 2*/

#ball {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fd6c2d;
    z-index: 1;
    transform: translateY(-200px);
    animation-name: basketball-bounce; 
    animation-duration: 0.45s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
}

@keyframes basketball-bounce {
    from {transform: translateY(-200px);}
    to {transform: translateY(30px);}
}

#shadow {
    height: 50px;
    width: 160px;
    background: black;
    opacity: 0.5;
    border-radius: 50%;
    animation-name: shadow-expand; 
    animation-duration: 0.45s; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5); 
}

@keyframes shadow-expand {
    /* from {height: 100%;}
    to {height: 50%;}
    from {width: 100%;}
    to {height: 50%;} */
    from {transform: scale(1.0);}
    to {transform: scale(0.5);}
    from {opacity: 0.5;}
    to {opacity: 0.6;}
}

/* Part 2: Create a keyframe animation for the shadow change. 
The shadow should grow smaller when the ball is closer to the ground, and scale to half its original size.
Additionally, the opacity should change from its initial value of 0.5 to 0.6, as shadows get darker when 
closer to the ground. */

#ball, #shadow {
    position: relative;
    margin: 0 auto;
    top: 50%;
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}
